.v-imgfill-flex-box .v-imgfill-expansion {
  position: static;
  display: inline-block;
  padding-bottom: 100%;
  width: .1px;
  vertical-align: middle;
}
.v-imgfill-flex-box > * {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.v-imgfill-flex-box {
  position: relative;
  display: block;
  overflow: hidden;
  
}
.v-imgfill-v-center, .v-imgfill-h-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.v-imgfill-v-center {
  height: auto;
  width: 100%;
  min-height: 100%;
}
.v-imgfill-h-center {
  width: auto;
  min-width: 100%;
  height: 100%;
  max-width: none;
}
.v-imgfill-v-center-full, .v-imgfill-h-center-full {
  position: absolute;
}
.v-imgfill-v-center-full {
  height: 100%;
  width: auto;
  left: 50%;
  top: 0;
  min-width: 1px;
  transform: translateX(-50%);
}
.v-imgfill-h-center-full {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  min-height: 1px;
  transform: translateY(-50%);
}